.root {
    -fx-background-color: #E6F0FA;
    -fx-padding: 20;
}
.button{
-fx-background-color: linear-gradient(to bottom, #8590F8, #3A45C6);
 -fx-background-radius: 20;

}
.tablecolumn-gray {
    -fx-background-color: linear-gradient(to bottom, #E0E0E0 0%, #A0A0A0 100%);
    -fx-border-color: #B0B0B0;
    -fx-border-width: 0 0 1 0; /* тонка нижня межа для поділу */
}
#style2  {
    -fx-background-color: linear-gradient(#D9D9D9 29%,#A9A7A7 55%);
}