.root {
    -fx-background-color: #E6F0FA;
    -fx-padding: 20;
}
.button{
-fx-background-color: linear-gradient(to bottom, #8590F8, #3A45C6);
 -fx-background-radius: 20;

}
.text-field {
-fx-background-color: linear-gradient(to bottom, #FEFEFE, #C4C4C4);
-fx-background-radius: 50;
 -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4, 0.5, 0, 4);
}
#style1 .content {
    -fx-background-color: linear-gradient(#D9D9D9 29%,#A9A7A7 55%);
}
.split-pane {

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 4, 0.5, 0, 4);   /* тінь */
}
#mainfield {
    -fx-background-color: linear-gradient(to bottom, #D9D9D9, #A9A7A7);
   -fx-background-radius: 0;

}




